# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Editor directories and files
.vscode/
.idea/

# Local environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

temp_apps/